.main-advs
    .container
        .main-advs__items
            .main-advs__item
                .main-advs__img
                    img(src="/images/content/main-advs/1.svg" alt="lorem")
                .main-advs__title Инновации
                .main-advs__sub Разрабатываем <br> уникальный софт
            .main-advs__item
                .main-advs__img
                    img(src="/images/content/main-advs/2.svg" alt="lorem")
                .main-advs__title Надежность
                .main-advs__sub Высокий уровень <br> отказоустойчивости
            .main-advs__item
                .main-advs__img
                    img(src="/images/content/main-advs/3.svg" alt="lorem")
                .main-advs__title Скорость
                .main-advs__sub Быстрый вывод на рынок
            .main-advs__item
                .main-advs__img
                    img(src="/images/content/main-advs/4.svg" alt="lorem")
                .main-advs__title Безопасность
                .main-advs__sub Многоступенчатая <br> защита данных
