.feed
    .container.feed__container
        .feed__grid
            .feed__left
                h2.feed__title Обсудим проект
                .feed__desc
                    p Спасибо за ваш интерес к нашим продуктам. Вы можете связаться с одним из наших экспертов, используя форму обратной связи, самостоятельно написать нам на почту или позвонить по телефону.
            .feed__right
                form(action='/php/ajax.php' method='post').feed__form.form
                    .form__fields
                        .form__field
                            input(type='text' name='name' placeholder='*Имя' required).form__input
                        .form__field
                            input(type='text' name='company' placeholder='Название компании').form__input
                        .form__field
                            input(type='tel' name='tel' placeholder='Телефон').form__input
                        .form__field
                            input(type='email' name='email' placeholder='*e-mail' required).form__input
                    .form__accept
                        include ../accept/index
                    input(type='submit' value='Обсудить проект').form__submit
