extends ../src/core/main

block content
    main.page
        .page__section
            .container
                include ../src/components/search/index
        .page__section
            include ../src/components/feed/index





