.main-banner
    .main-banner__img
        img(src="/images/content/main-banner/img.jpg" alt="Мы разрабатываем продукты для финансовых сервисов")
    .container.main-banner__container
        h2.main-banner__title Мы разрабатываем продукты для финансовых сервисов
        .main-banner__txt
            h6 C 1996 года мы разрабатываем уникальные цифровые продукты для платежных и финансовых сервисов в банках, госструктурах, крупном бизнесе.
            p Это текст, который имеет некоторые характеристики реального письменного текста, но является случайным набором слов или сгенерирован иным образом. Текст-заполнитель — это текст, который имеет некоторые характеристики реального письменного текста,
        button(type='button' data-event='openCall').main-banner__btn Получить консультацию
