extends ../src/core/main

block content
    main.page.margin-top-150.margin-bottom-150
        .page__section
            .container
                .content
                    h1 ПОЛИТИКА ОБРАБОТКИ<br>ПЕРСОНАЛЬНЫХ ДАННЫХ
                    ol
                        li ОБЩИЕ ПОЛОЖЕНИЯ
                            ol
                                li Настоящая Политика в отношении обработки персональных данных (далее – «Политика») определяет политику ООО «БПС Программные продукты» (далее – «Общество») в отношении обработки и обеспечения безопасности персональных данных.
                                li Политика разработана в соответствии с законодательством Российской Федерации в области персональных данных.
                                li Целью настоящей политики является установление основных принципов и подходов к обработке и обеспечению защиты персональных данных в Обществе, являющемся оператором персональных данных.
                                li Действие Политики распространяется на все процессы Общества, связанные с обработкой персональных данных.
                                li Пересмотр настоящей Политики может осуществляться по усмотрению Общества на плановой и внеплановой основе, а также в случаях изменения законодательства Российской Федерации в области персональных данных.
                                li Актуальная редакция Политики размещается на сайте Общества в информационно-телекоммуникационной сети Интернет в общем доступе и вступает в силу с момента размещения.

                        li ПРИНЦИПЫ ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ
                            ol
                                li Обработка персональных данных в Обществе осуществляется на законной и справедливой основе.
                                li Обработка персональных данных ограничивается достижением конкретных, заранее определенных и законных целей. Не допускается обработка персональных данных, несовместимая с целями сбора персональных данных.
                                li Не допускается объединение баз данных, содержащих персональные данные, обработка которых осуществляется в целях, несовместимых между собой.
                                li При обработке персональных данных обеспечены точность, достаточность и актуальность персональных данных по отношению к целям обработки, обеспечены меры по удалению или уточнению неполных или неточных данных.
                                li Хранение персональных данных осуществляется в форме, позволяющей определить субъекта персональных данных, не дольше, чем этого требуют цели обработки персональных данных, если иной срок не установлен действующим законодательством или договором с субъектом персональных данных. Обрабатываемые персональные данные подлежат уничтожению либо обезличиванию по достижении целей обработки или в случае утраты необходимости в достижении этих целей, если иное не предусмотрено действующим законодательством.
                                li При обработке персональных данных Общество обеспечивает их безопасность и конфиденциальность, не раскрывает и не распространяет третьим лицам персональные данные без согласия субъекта персональных данных, если иное не предусмотрено действующим законодательством.
                        li ЦЕЛИ ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ
                            ol
                                li Обработка персональных данных в информационных системах Общества осуществляется в целях, определенных регламентами и правилами информационных систем, а также осуществления уставной деятельности Общества и действующим законодательством.
                                li Обработка персональных данных осуществляется с целью заключения и исполнения договоров сторонами, выгодоприобретателями или поручителями которых являются субъекты персональных данных.
                                li Срок обработки персональных данных определяется целью обработки.
                        li ПРАВИЛА ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ
                            ol
                                li Обработка персональных данных в Обществе осуществляется с согласия субъекта персональных данных кроме случаев, установленных действующим законодательством.
                                li Общество не собирает и не обрабатывает биометрические персональные данные, а также персональные данные специальных категорий, касающиеся расовой, национальной принадлежности, политических взглядов, религиозных или философских убеждений, состояния здоровья, интимной жизни.
                                li Общество не размещает персональные данные в общедоступных источниках без предварительного согласия субъекта персональных данных, если иное не определено действующим законодательством.
                                li Обработка персональных данных в Обществе может осуществляться как с применением, так и без применения средств автоматизации.
                                li Работники Общества имеют доступ к персональным данным субъектов в соответствии с их должностными обязанностями.
                                li Передача персональных данных субъектов третьим лицам осуществляется в соответствии с требованиями действующего законодательства.
                                li Общество вправе поручить обработку персональных данных третьей стороне с согласия субъекта персональных данных и в иных случаях, предусмотренных действующим законодательством, на основании заключаемого с этой стороной договора. Третья сторона, осуществляющая обработку персональных данных по поручению Общества, обязана выполнять требования по обеспечению уровня защищенности персональных данных, установленные действующим законодательством.
                        li РЕАЛИЗУЕМЫЕ ТРЕБОВАНИЯ ПО ОБЕСПЕЧЕНИЮ БЕЗОПАСНОСТИ ПЕРСОНАЛЬНЫХ ДАННЫХ
                            ol
                                li Безопасность персональных данных, обрабатываемых в Обществе, обеспечивается выполнением согласованных мероприятий, направленных на предотвращение, устранение угроз безопасности персональных данных и минимизацию возможного ущерба, а также мероприятий по восстановлению данных и работы информационных систем в случае реализации угроз.
                                li Общество принимает необходимые и достаточные правовые, организационные и технические меры или обеспечивает их принятие для защиты персональных данных от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, предоставления, распространения персональных данных, а также от иных неправомерных действий в отношении персональных данных.
                        li ПРАВА СУБЪЕКТОВ ПЕРСОНАЛЬНЫХ ДАННЫХ
                            ol
                                li Субъект персональных данных имеет все права на получение информации, касающейся обработки его персональных данных, установленные действующим законодательством.
                                li Субъект персональных данных вправе требовать уточнения его персональных данных, их блокирования или уничтожения в случае, если персональные данные являются неполными, устаревшими, неточными, незаконно полученными или не являются необходимыми для заявленной цели обработки, а также принимать предусмотренные действующим законодательством меры по защите своих прав.
                        li ИНФОРМАЦИЯ ОБ ОПЕРАТОРЕ ПЕРСОНАЛЬНЫХ ДАННЫХ
                            ol
                                li Полное наименование: Общество с ограниченной ответственностью «БПС Программные продукты», Адрес: 109028, г. Москва, ул. Земляной Вал, д. 50А, стр.2 , эт.2, пом.10, a.kozhurina@bpcbt.com .



