extends ../src/core/main

block content
    main.page
        .page__section.margin-bottom-140
            -
                var data = {
                    img: '/images/content/banner/bg.jpg',
                    title: 'Программные платформы',
                    desc: 'Мы разрабатываем продукты для платежных и финансовых  сервисов, основываясь на нуждах рынка и опираясь на базовые компетенции наших  платформ. '
                }
            include ../src/components/banner/index
        .page__section.margin-bottom-140
            .container
                include ../src/components/platforms/index




