.pag
    a(href='/').pag__arr.pag__prev
        <svg width="17" height="31" viewBox="0 0 17 31" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2 15.5L1.2806 14.8054L0.609956 15.5L1.2806 16.1946L2 15.5ZM1.2806 16.1946L15.2806 30.6946L16.7194 29.3054L2.7194 14.8054L1.2806 16.1946ZM2.7194 16.1946L16.7194 1.69459L15.2806 0.305405L1.2806 14.8054L2.7194 16.1946Z" fill="#D7D7D7"/>
        </svg>
    .pag__items
        a(href="#").pag__item 1
        a(href="#").pag__item 2
        a(href="#").pag__item 3
        a(href="#").pag__item 4
        a(href="#").pag__item 5
        a(href="#").pag__item ...
        a(href="#").pag__item 15
    a(href='/').pag__arr.pag__next
        <svg width="17" height="31" viewBox="0 0 17 31" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M15 15.5L15.7194 16.1946L16.39 15.5L15.7194 14.8054L15 15.5ZM14.2806 14.8054L0.280599 29.3054L1.7194 30.6946L15.7194 16.1946L14.2806 14.8054ZM15.7194 14.8054L1.7194 0.305405L0.280599 1.69459L14.2806 16.1946L15.7194 14.8054Z" fill="#D7D7D7"/>
        </svg>


