.about
    .about__top
        .container.about__grid
            .about__top-left
                h2.about__title
                    <span style='color:#1B4ED1'>БПС</span> Программные <br> продукты
                .about__content.content
                    p Мобильный и Интернет-банк стал жизненно необходимым каналом взаимодействия между банком и его клиентами. В его отсутствие клиенты начинают искать для себя другого поставщика финансовых услуг.
                    p В семействе продуктов СмартВиста реализован полный набор многоканальных сервисов, которые востребованы современными потребителями, включая сервисы, доступные через Интернет и в сетях мобильной связи. Запрос информации о движении средств, остатках на счетах, денежные переводы, оплата счетов за коммунальные и другие услуги, открытие счетов через Интернет, операции с иностранной валютой – полный спектр услуг, предоставляемых в реальном масштабе времени – это решение СмартВиста Дистанционное банковское обслуживание
            .about__top-right
                .about__img
                    img(src="/images/content/about/img1.jpg" alt="lorem")
    .about__bottom
        .container.about__grid
            .about__bottom-left
                .about__img
                    img(src="/images/content/about/img2.jpg" alt="lorem")
            .about__bottom-right
                .about__sub Генеральный директор
                .about__title-small Иван Иванов
                .about__content.content
                    p В 1977 году окончил механико-машиностроительный факультет Ленинградского политехнического института им. М. И. Калинина (ныне Санкт-Петербургский политехнический университет Петра Великого) по специальности "инженер-механик строительных и дорожных машин и оборудования", в 1986 году - факультет организаторов промышленного производства Ленинградского инженерно-экономического института им. Пальмиро Тольятти (ныне Санкт-Петербургский государственный инженерно-экономический университет).
                    p Стажировался за рубежом, имеет степень магистра делового администрирования (МВА).