.jobs
    h2.jobs__title Вакансии
    .jobs__list
        each i in ['Backend Разработчик (Python)','Программист SQL','Backend Разработчик (Python)','Программист SQL','Backend Разработчик (Python)']
            .jobs__item.jobs-item
                .jobs-item__top
                    .jobs-item__top-left
                        .jobs-item__title= i
                    .jobs-item__top-right
                        .jobs-item__exp
                            p Требуемый опыт работы: более 6 лет
                            p Полная занятость, гибкий график
                        .jobs-item__more
                            .jobs-item__desc Опыт работы с Python3.6+ от 3-х лет, знание PHP или Nodejs будет плюсом. Опыт разработки высоконагруженных Python — высокоуровневый язык программирования общего назначения с динамической строгой типизацией и автоматическим управлением памятью, ориентированный на повышение производительности разработчика, читаемости кода и его качества, а также на обеспечение переносимости написанных на нём программ. Хороший разработчик не прекращает учиться после курсов. Языки программирования часто обновляются, появляются новые фреймворки и функции. Чтобы ваши навыки оставались востребованными на рынке труда, в 2022 году мы обновили курс и добавили актуальные материалы. Доступ к онлайн-занятиям открыт навсегда — учиться новому можно в любой момент.

                .jobs-item__bottom
                    .jobs-item__bottom-left
                        button(type='button' data-event='openResume').jobs-item__add
                            <svg width="15" height="28" viewBox="0 0 15 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.625 6.5V20.875C12.625 22.2011 12.0982 23.4729 11.1605 24.4105C10.2229 25.3482 8.95108 25.875 7.625 25.875C6.29892 25.875 5.02715 25.3482 4.08947 24.4105C3.15178 23.4729 2.625 22.2011 2.625 20.875V5.25C2.625 4.4212 2.95424 3.62634 3.54029 3.04029C4.12634 2.45424 4.9212 2.125 5.75 2.125C6.5788 2.125 7.37366 2.45424 7.95971 3.04029C8.54576 3.62634 8.875 4.4212 8.875 5.25V18.375C8.875 18.7065 8.7433 19.0245 8.50888 19.2589C8.27446 19.4933 7.95652 19.625 7.625 19.625C7.29348 19.625 6.97554 19.4933 6.74112 19.2589C6.5067 19.0245 6.375 18.7065 6.375 18.375V6.5H4.5V18.375C4.5 19.2038 4.82924 19.9987 5.41529 20.5847C6.00134 21.1708 6.7962 21.5 7.625 21.5C8.4538 21.5 9.24866 21.1708 9.83471 20.5847C10.4208 19.9987 10.75 19.2038 10.75 18.375V5.25C10.75 3.92392 10.2232 2.65215 9.28553 1.71447C8.34785 0.776784 7.07608 0.25 5.75 0.25C4.42392 0.25 3.15215 0.776784 2.21447 1.71447C1.27678 2.65215 0.75 3.92392 0.75 5.25V20.875C0.75 22.6984 1.47433 24.447 2.76364 25.7364C4.05295 27.0257 5.80164 27.75 7.625 27.75C9.44836 27.75 11.197 27.0257 12.4864 25.7364C13.7757 24.447 14.5 22.6984 14.5 20.875V6.5H12.625Z" fill="#1B4ED1"/>
                            </svg>
                            span Вложить резюме
                        .jobs-item__add-info в формате Word.exe или PDF
                    .jobs-item__bottom-right
                        button(type='button').jobs-item__link
                            <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1 16L16 1M16 1V16M16 1H1" stroke="#232323" stroke-width="2"/>
                            </svg>
                            span подробнее
                            span свернуть
                        button(type='button' data-event='openCall').jobs-item__btn Откликнуться