.notfound
    .notfound__img
        img(src="/images/content/404/404.png" alt="lorem")
    h2.notfound__title Страница не найдена
    .notfound__txt Неправильно набран адрес или такой страницы<br>на сайте не существует.
    a(href="/").notfound__link Вернуться на главную