-
    var GLOBALS = {
        nav: [
            {
                title: 'Программные платформы',
                url: '/platforms/'
            },
            {
                title: 'Программные продукты',
                url: '/products/'
            },
            {
                title: 'О  компании',
                url: '/about/'
            },
            {
                title: 'Вакансии',
                url: '/jobs/'
            },

        ],
        tel: {
            href: 'tel:+7495780-31-65',
            val: '+7 495 780-31-65'
        },
        email: {
            href: '',
            val: ''
        },
        addr: '109028, Россия, Москва,<br> ул. Земляной Вал, 50A/8 стр.2',
        platforms: [
            {
                title: 'Транзакционная  платформа',
                img: '/images/content/platforms/1.png'
            },
            {
                title: 'Расчетная платформа',
                img: '/images/content/platforms/2.png'
            },
            {
                title: 'Интеграционная платформа',
                img: '/images/content/platforms/3.png'
            },
            {
                title: 'Аналитическая платформа',
                img: '/images/content/platforms/4.png'
            },
            {
                title: 'Платформа дистанционного обслуживания ',
                img: '/images/content/platforms/5.png'
            },
            {
                title: 'Платформа «Цифровые экосистемы» / «Маркетплейс»',
                img: '/images/content/platforms/6.png'
            },
            {
                title: 'Платформа «Умный город»',
                img: '/images/content/platforms/7.png'
            }
        ],
        products: [
            'Онлайн авторизация операций',
            'Маршрутизация операций',
            'ATM/Kiosk/POS',
            'Мгновенные платежи (СБП)',
            'Эмиссия',
            'Эквайринг',
            'Кредитные продукты',
            'Лояльность',
            'Платежный шлюз',
            'Открытое API',
            'Автоматизация бизнес-процессов',
            'Противодействие мошенничеству (или Anti-Fraud)',
            'AML',
            'Профилирование',
            'Онлайн маркетинг',
            'Машинное обучение',
            'Интернет и мобильный банкинг',
            'Агентский банкинг',
            'Цифровое вовлечение и кредитование',
            'Электронный кошелек',
            'Электронная дистрибьюция',
            'Продуктовый каталог',
            'Оцифровывание бизнес-процессов',
            'Электронное билетирование',
            'Городская мобильность',
            'Персонализация',
            'Электронная коммерция'
        ],
    };