form(action='/search/' method='get').header-search
    button(type='submit').header-search__submit
        <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M12.0284 12.0266L18 18M13.862 7.43291C13.862 10.9857 10.9827 13.8658 7.43099 13.8658C3.87925 13.8658 1 10.9857 1 7.43291C1 3.88011 3.87925 1 7.43099 1C10.9827 1 13.862 3.88011 13.862 7.43291Z" stroke="white" stroke-width="2"/>
        </svg>
    input(type='text' name='search' placeholder='Поиск').header-search__input
