.products-info
    .products-info__sub Установка ПО осуществляется исключительно специалистами разработчика. ПО не предназначено для самостоятельной установки пользователем.
    .products-info__txt Для вопросов по использованию системы, демопоказам, ценам на решение звоните по телефону
    .products-info__tel
        a(href=GLOBALS.tel.href)= GLOBALS.tel.val