-
    var data = [
        'Менеджер бизнес-процессов для управления различными сервисами и каналами',
        'Облегченная ESB, обеспечивающая интеграцию без кодирования',
        'Редакторы шаблонов сообщений таких как ISO 8583, XML, JSON, OAS (swagger) и т.д.',
        'Настройки соответствия полей различных сообщений',
        'Поддержка большого числа коннекторов к различным системам',
        'Большое число сервисов  доступных из коробки для настройки логики процессинга  сообщений',
    ];
.platform-chars
    .platform-chars__left
        h2.platform-chars__title Функциональность
    .platform-chars__right
        ul.platform-chars__list
            each i in data
                li= i