.main-consult
    .main-consult__left
        h2.main-consult__title Получить<br>консультацию
    .main-consult__center
        .main-consult__content
            p Спасибо за ваш интерес к нашим продуктам. Вы можете связаться с одним из наших экспертов, используя форму обратной связи, самостоятельно написать нам на почту или позвонить по телефону.
    .main-consult__right
        button(type='button' data-event='openCall').main-consult__btn Получить консультацию